{% extends 'portfolio/layout.html' %}
{% load static %}
{% static "" as baseURL %}

{% block title %}Paul Jenkins{% endblock %}
{% block content %}

    <div class="display-wrapper">
        <div class="display">
            <a href="{% url 'portfolio:projects' %}"><img class="display-img"
                                                              src="{% static 'images/projects-lg.jpg' %}"></a>
            <a href="{% url 'blog:blog-home' %}"><img class="display-img"
                                                      src="{% static 'images/blog-lg.jpg' %}"></a>
            <a href="{% url 'portfolio:profile' name="Paul" %}"><img class="display-img"
                                                         src="{% static 'images/about-me-lg.jpg' %}"></a>
        </div>

    </div>
    <div class="nav-wrapper">
        <div class="nav-menu-container">
            <div class="left-arrow">
                <a href="#prev">
                    <img src="{% static 'images/left-arrow.jpg' %}">
                </a>
            </div>
            <div class="nav-menu">
                <img class="nav-menu-item" id="projects" src="{% static 'images/projects.jpg' %}"
                     onmouseover="onHover();"
                     onmouseout="offHover();"
                     onclick="currentDiv(1)">
                <img class="nav-menu-item" id="blog" src="{% static 'images/blog.jpg' %}"
                     onclick="currentDiv(2)"
                     onmouseover="onHover();"
                     onmouseout="offHover();">
                <img class="nav-menu-item" id="about-me" src="{% static 'images/about-me.jpg' %}"
                     onclick="currentDiv(3)"
                     onmouseover="onHover();"
                     onmouseout="offHover();">
            </div>
            <div class="right-arrow">
                <a href="#next">
                    <img src="{% static 'images/right-arrow.jpg' %}">
                </a>
            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}
