{% extends 'portfolio/layout.html' %}
{% load static %}
{% static "" as baseURL %}

{% block content %}
    <div class="nav-wrapper">
        <div class="nav-menu-container">
            <div class="left-arrow">
                <a href="#prev">
                    <img id="left-arrows" src="{% static 'images/left-arrow.jpg' %}">
                </a>
            </div>
            <div class="nav-menu">

                {% for project in projects %}
                    <a href="{% url 'portfolio:project' pk=project.id %}">
                        <img class="nav-menu-item" id="{{ project.id }}"
                             src="{% static 'images' %}/{{ project.image.url }}"
                             onmouseover="onHover();"
                             onmouseout="offHover();"
                             onclick="currentDiv({{ item.id }})">
                    </a>
                {% endfor %}
            </div>
            <div class="right-arrow">
                <a href="#next">
                    <img id="right-arrows" src="{% static 'images/right-arrow.jpg' %}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}