{% extends 'blog/blog_layout.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="blog-entry">
        <div id="blog-entry-header">
            <h1>Blog</h1>
            <h3>
                Welcome to my blog page!
            </h3>
            <p>
                Here you'll find various projects that I've worked on over the last year or so.
                I've built programs using Python as my base language, but that has carried over into
                projects built in Django and Flask.
                I've also incorporated JavaScript (including JQuery) and CSS in many of these projects
                as well as this portfolio.
                If you have any questions, concerns, or comments, please contact me.
            </p>
        </div>
    </div>
{% endblock %}