{% extends 'portfolio/layout.html' %}
{% load static %}
{% static "" as baseURL %}

{% block title %}{% endblock %}
{% block content %}
    <div class="nav-wrapper">
        <div class="nav-menu-container">
            <div class="left-arrow">
                <a href="#prev">
                    <img id="left-arrows" src="{% static 'images/left-arrow.jpg' %}">
                </a>
            </div>
            <div class="nav-menu">
                {% for item in blogs %}
                    <a href="{% url 'blog:blog-detail' slug=item.slug %}">
                        <img class="nav-menu-item" id="{{ item.slug }}"
                             src="{% static 'images' %}/{{ item.slug }}.jpg"
                             onmouseover="onHover();"
                             onmouseout="offHover();"
                             onclick="currentDiv({{ item.id }})"></a>
                {% endfor %}
            </div>
            <div class="right-arrow">
                <a href="#next">
                    <img id="right-arrows" src="{% static 'images/right-arrow.jpg' %}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}